<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>u have register ur self first</h1>
    <form action="/submit" method="post" >
       <input type="text" name="nama" placeholder="name">
       <input type="text" name="email" placeholder="email">
       <input type="text" name="password" placeholder="password">
       <button>Submit</button>      
    </form>
</body>
</html>